h1 {
  background-color: #ff6600;
}

h2 {
  background-color: #3366cc;
}

h1,
h2 {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  font-family: "Monomakh", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  width: 700px;
  height: 60px;
  margin: 0 auto;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  text-align: justify;
}

.text {
  width: 700px;
  margin: 0 auto;
}