body {
  font-family: Arial, sans-serif;
}

p {
  background-color: #ccc;
}

.task-bold {
  font-weight: 700;
}

.task-size {
  font-size: 20px;
}

.task-center {
  text-align: center;
}

.task-monospace {
  font-family: 'Courier New', Courier, monospace;
}

.task-color {
  color: #ff0000;
}

.task-complex {
  font-weight: 700;
  font-size: 18px;
  text-align: right;
  color: #008000;
}

.task-times-new-roman {
  font-family: 'Times New Roman', Times, serif;
}

.task-large-blue {
  font-size: 24px;
  color: #00f;
}

.content {
  background-color: antiquewhite;
  height: 100%;
  padding: 50px;
  border: 5px solid rgb(151, 100, 100);
}

.content p {
  background-color: antiquewhite;
  text-align: center;
}

.content span {
  text-decoration: underline;
}

.bold-style {
  height: 20px;
  background-color: aqua;
  margin: 10px;
  padding: 20px;
  border: 2px dotted brown;
  width: 500px; /* не работает потому что b строчный элемент */
}

/* .task-justify {} */

/* .task-normal {} */