#red {
  color: #ff0000;
}

#blue {
  color: #00f;
}

#orange {
  color: orange;
}

#brown {
  color: rgba(145, 42, 42, 1);
}

#darkblue {
  color: darkblue;
}

h1,
h2 {
  font-style: italic;
}

h2+img {
  width: 150px;
  height: 50px;
}

div>img {
  margin-top: 30px;
}